@import "src/styled/mixins";

.formField {
  position: relative;
  margin: adaptiveSize(30, 10) 0;

  .formInput {
    background-color: var(--body-background);
    color: var(--sidebar-text-color);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--sidebar-text-color);
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .formInputLabel {
      top: -14px;
      font-size: adaptiveSize(20, 12);
      color: var(--sidebar-text-color);
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .formInputLabel {
    color: var(--sidebar-text-color);
    font-size: adaptiveSize(25, 15);
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .shrink {
    top: -14px;
    font-size: adaptiveSize(20, 12);
    color: var(--sidebar-text-color);
  }
}


