@import "src/styled/mixins";

.order {
  color: var(--sidebar-text-color);
  padding: 1vw;
  font-size: adaptiveSize(35, 16);
  border: 1px solid rgba(9, 3, 32, 0.21);


  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 0.2vw solid var(--sidebar-text-color);
    background-color: rgba(9, 3, 32, 0.21);
    padding: 1vw;

    .logoImg {
      margin-right: adaptiveSize(20, 10);
      font-size: adaptiveSize(120, 50);
    }

    .logoTitle {
      font-size: adaptiveSize(60, 30);
    }
  }

  .titleContainer {
    border-bottom: 0.2vw solid var(--sidebar-text-color);
    padding: 1vw;

    .title {
      font-size: adaptiveSize(50, 25);
    }

    .subtitle {
      font-size: adaptiveSize(35, 16);
    }
  }

  .shippingInfo {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vw solid var(--sidebar-text-color);
    padding: 1vw;

    .item {
      display: flex;
      flex-direction: column;
      border-left: 0.2vw solid var(--sidebar-text-color);
      padding-left: 1vw;

      & span:nth-child(1) {
        font-size: adaptiveSize(40, 20);
        white-space: nowrap;
      }

      &:nth-child(1) {
        border-left: unset;
        padding-left: unset;
        width: 20%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 60%;
      }
    }


    @media (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
      .item {
        display: flex;
        align-items: center;
        flex-direction: row;
        border-left: unset;
        padding-left: unset;

        & span:nth-child(1) {
          font-size: adaptiveSize(40, 20);
          white-space: nowrap;
          margin-right: 5px;
          align-self: flex-start;
        }

        &:nth-child(1) {
          border-left: unset;
          padding-left: unset;
          width: unset;
        }

        &:nth-child(2) {
          width: unset;
        }

        &:nth-child(3) {
          width: unset;
        }
      }
    }


  }

  .productTitles {
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 0.2vw solid var(--sidebar-text-color);

    & > * {
      text-align: center;
      width: 20%;
      border-right: 0.2vw solid var(--sidebar-text-color);
    }

    span:last-child {
      border-right: unset;
    }
  }

  .products {

  }

  .totalContainer {
    display: flex;
    flex-direction: column;
    padding: 1vw 0;

    & > * {
      display: flex;
      justify-content: space-between;
      padding: 1vw;
    }

    & div:last-child {
      border-bottom: 0.2vw solid var(--sidebar-text-color);
      border-top: 0.2vw solid var(--sidebar-text-color);
    }

  }

  .massage {
    padding: 1vw 0;

    & > * {
      padding: 1vw;
    }

    p {

    }

    .thanks {
      span {

      }

      .thanksLogo {
        display: flex;
        align-items: center;

        .thanksLogoImg {
          margin-right: 1vw;
        }

        .thanksLogoTitle {

        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(9, 3, 32, 0.21);
    padding: 2vw 1vw;

    .footerText {

    }

    .copyright {
      display: flex;
      align-items: center;

      .copyrightImg {
        margin-right: 1vw;
      }

      .year {
        margin-right: 1vw;
      }

      .footerLogo {
        display: flex;
        align-items: center;

        .footerLogoImg {
          margin-right: 1vw;
        }

        .footerLogoTitle {

        }
      }
    }

  }
}