@import "src/styled/mixins";


.directoryItem {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid var(--text-color-light);
  border-radius: 5px;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .title-container {
      opacity: 0.9;
    }
  }

  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titleContainer {
    padding-top: adaptiveSize(20, 5);
    padding-bottom: adaptiveSize(20, 5);
    padding-left: adaptiveSize(30, 10);
    padding-right: adaptiveSize(30, 10);
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background);
    opacity: 0.7;
    position: absolute;
    font-size: adaptiveSize(30, 13);
    color: var(--text-color-light);
    text-transform: capitalize;

    .title {
      font-weight: bold;
    }

    .shopNow {
      font-weight: lighter;
    }
  }
}

