@import "src/styled/mixins";

.paymentForm {
  margin: 0 auto;
  color: var(--text-color-light);
  width: adaptiveSize(1000, 300);

  .title {
    font-size: adaptiveSize(45, 20);
    margin-bottom: 1vw;
  }

  .creditCard {
    font-size: adaptiveSize(40, 20);
    border: 1px solid var(--text-color-light);
    padding: 1vw;
    border-radius: 5px;
    margin-bottom: 1vw;
  }
}