@import "src/styled/mixins";

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: adaptiveSize(40, 15);
  padding: 1%;
  color: var(--sidebar-text-color);

  .header {
    display: flex;
    justify-content: space-between;

    > * {
      width: 25%;
      text-align: center;
    }
  }

  .products {
    .empty {
      text-align: center;
      font-size: adaptiveSize(50, 20);
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--sidebar-text-color);
    padding: 1%;
    font-size: adaptiveSize(50, 20);
    color: var(--sidebar-text-color);

    span:nth-child(1) {
      margin-right: 1%;
    }
  }
}






