.authentication {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;

  .form {
    padding: 1vw;
    border: #090320 1px solid;

    .title {
      font-size: clamp(25px, 5vw, 40px);
    }

    .subtitle {
      font-size: clamp(15px, 5vw, 30px);
    }
  }
}

@media (max-width: 768px) {
  .authentication {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .form {
      border: #090320 1px solid;
      width: clamp(320px, 100vw, 450px);
    }
  }
}