.app {
  display: flex;
  width: 100%;

  .sidebar {
    //look to sidebar component styles

  }

  .detail {
    width: 94.5%;
  }
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .sidebar {
      //look to sidebar component styles
    }

    .detail {
      width: 100%;
    }
  }
}