@import "mixins";


:root {
  // color setup to change browser header color through js in HTML document->head->meta tags
  --browser-header-light: rgba(245, 222, 179);
  --browser-header-dark: rgba(17, 16, 23);

  //main page theme auto-detect by system
  @media (prefers-color-scheme: dark) {
    --bg-color-light: rgba(17, 16, 23, 0.90);
    --bg-color-dark: rgba(245, 222, 179, 0.80);
    --text-color-light: rgba(245, 222, 179, 0.80);
    --text-color-dark: rgba(17, 16, 23, 0.90);
    --border-color-dark: rgba(245, 222, 179, 0.80);
    --body-background: rgba(17, 16, 23, 100);
  }

  @media (prefers-color-scheme: light) {
    --bg-color-light: rgba(245, 222, 179, 0.80);
    --bg-color-dark: rgba(17, 16, 23, 0.90);
    --text-color-light: rgba(17, 16, 23, 0.90);
    --text-color-dark: rgba(245, 222, 179, 0.80);
    --border-color-dark: rgba(17, 16, 23, 0.90);
    --body-background: rgba(245, 222, 179, 100);
  }

  //main page theme user choice
  .dark-mode {
    --bg-color-light: rgba(17, 16, 23, 0.90);
    --bg-color-dark: rgba(245, 222, 179, 0.80);
    --text-color-light: rgba(245, 222, 179, 0.80);
    --text-color-dark: rgba(17, 16, 23, 0.90);
    --border-color-dark: rgba(245, 222, 179, 0.80);
    --body-background: rgba(17, 16, 23, 100);
  }

  .light-mode {
    --bg-color-light: rgba(245, 222, 179, 0.80);
    --bg-color-dark: rgba(17, 16, 23, 0.90);
    --text-color-light: rgba(17, 16, 23, 0.90);
    --text-color-dark: rgba(245, 222, 179, 0.80);
    --border-color-dark: rgba(17, 16, 23, 0.90);
    --body-background: rgba(245, 222, 179, 100);
  }
}

html {
  // prevents drain screen when scroll
  //width: 100vw;
  //height: 100vh;
  //overflow: scroll;
  //overscroll-behavior: contain;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: var(--body-background);

  #root {
    max-width: 1920px;
    margin: 0 auto;
  }
}

button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 15px;
  background-color: var(--body-background);
  color: var(--text-color-light);
  border: 1px solid var(--text-color-light);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
  transition: .2s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--text-color-light);
      color: var(--body-background);
      border: 1px solid var(--body-background);
    }
  }

  &:active {
    background-color: deepskyblue;
    color: black;
  }

  ////////////////////////////////////////////////////////////////////////////
  &.google {
    background-color: deepskyblue;
    color: black;
    @media (hover: hover) {
      &:hover {
        background-color: #0068fd;
        color: white;
      }
    }

    &:active {
      background-color: red;
      color: black;
    }
  }

  ////////////////////////////////////////////////////////////////////////////
  &.inverted {
    background-color: var(--text-color-light);
    color: var(--body-background);
    border: 1px solid var(--body-background);

    @media (hover: hover) {
      &:hover {
        background-color: var(--body-background);
        color: var(--text-color-light);
        border: 1px solid var(--text-color-light);
      }
    }

    &:active {
      background-color: deepskyblue;
      color: black;
    }
  }

  ////////////////////////////////////////////////////////////////////////////

}


