@import "../../../mixins";

@media (min-width: 769px) {
  .sidebar {
    height: 100vh;
    width: 5.8%;
    display: flex;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;

    .container {
      display: flex;
      position: sticky;

      .menu {
        display: none;
      }

      .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 adaptiveSize(10, 1);
        background: var(--sidebar-bg-color);
        cursor: pointer;
        transition: .2s;
        margin: 0;
        border: 0;


        .link {
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: adaptiveSize(10, 1);
          border: clamp(0.5px, 0.1vw, 5px) solid transparent;
          color: var(--sidebar-text-color);
          margin: clamp(5px, 0.5vw, 20px) 0 0 0;

          .linkIcon {
            width: adaptiveSize(50, 22);
            height: adaptiveSize(50, 22);
            transition: .2s;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          .linkTitle {
            transition: .1s;
            white-space: nowrap;
            font-size: 0;
          }

          &:hover {
            border-radius: 5px;
            border: clamp(0.5px, 0.1vw, 5px) solid var(--sidebar-border-color);
          }

          &.active {
            background-color: var(--sidebar-active-bg-color);
            color: var(--sidebar-active-text-color);
            border-radius: 5px;
            border: clamp(0.5px, 0.1vw, 5px) solid var(--sidebar-border-color);
          }
        }

        &:hover {
          .link {
            gap: 1vw;

            .linkIcon {
              svg {

              }
            }

            .linkTitle {
              font-size: adaptiveSize(25, 20);
            }
          }
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: unset;
    background: var(--sidebar-bg-color);

    .menu {
      display: block;
      width: clamp(35px, 10vw, 50px);
      height: clamp(35px, 10vw, 50px);
      transition: .2s;
      cursor: pointer;
      color: var(--sidebar-active-bg-color);

      &.active {
        transform: rotate(90deg);
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 adaptiveSize(10, 1);
      background: var(--sidebar-bg-color);
      cursor: pointer;
      transition: .2s;
      margin: 0;
      border: 0;
      position: absolute;
      top: 100%;
      left: -100%;
      // height = 100vh -.menu height
      height: calc(100vh - clamp(35px, 10vw, 50px));

      &.active {
        left: 0;
      }

      .link {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: adaptiveSize(10, 1);
        border: clamp(0.5px, 0.1vw, 5px) solid transparent;
        color: var(--sidebar-text-color);
        margin: clamp(5px, 0.5vw, 20px) 0 0 0;
        gap: adaptiveSize(30, 10);

        .linkIcon {
          width: adaptiveSize(110, 30);
          height: adaptiveSize(110, 30);
          transition: .2s;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .linkTitle {
          transition: .1s;
          white-space: nowrap;
          font-size: adaptiveSize(50, 20);
        }

        &:hover {
          border-radius: 5px;
          border: clamp(0.5px, 0.1vw, 5px) solid var(--sidebar-border-color);
        }

        &.active {
          background-color: var(--sidebar-active-bg-color);
          color: var(--sidebar-active-text-color);
          border-radius: 5px;
          border: clamp(0.5px, 0.1vw, 5px) solid var(--sidebar-border-color);
        }
      }
    }
  }
}