.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 2s linear infinite;
  width: 20vw;
  height: 20vw;
  color: var(--sidebar-text-color);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
