@import "src/styled/mixins";

.productsItem {
  .title {
    font-size: adaptiveSize(70, 30);
    border-bottom: 1px solid var(--text-color-light);
    border-top: 1px solid var(--text-color-light);
    color: var(--text-color-light);
    margin: 2% 0;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--border-color-dark);
        color: var(--text-color-dark);
      }
    }

  }

  .category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: adaptiveSize(20, 10);
    padding: adaptiveSize(10, 5);
  }

  &:nth-child(1) {
    .title {
      margin-top: unset;
    }
  }
}

